:root {
  --primario: #900;
  --primarioOscuro: #600;
  --secundario: #ffce00;
  --secundarioOscuro: #d4ad0f;
  --blanco: #fff;
  --negro: #000;
  --fuentePrincipal: "Staatliches", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Globales */
body {
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.contenedor {
  max-width: 120rem;
  min-width: auto;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.header__logo {
  margin: 3rem 0;
}

.header h2 {
  font-size: 4rem;
  margin-top: -4rem;
}

.header span {
  color: var(--blanco);
  font-size: 1.9rem;
}

/* NAVEGACION */

.navegacion {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.navegacion__enlace--activo,
.navegacion__enlace {
  font-family: var(--fuentePrincipal);
  color: var(--blanco);
  font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
  color: var(--secundario);
}

.contenedor h1 {
  margin: 2rem 0;
}

/* PRODUCTOS */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 350px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.producto {
  background-color: var(--primarioOscuro);
}

.producto__imagen {
  width: 100%;
}

.producto__informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto__nombre {
  font-size: 4rem;
}

.producto__precio {
  color: var(--secundario);
  font-size: 3rem;
}

.producto__nombre,
.producto__precio {
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  line-height: 1.1;
}

/* graficos */

.grafico {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/3;
}

.grafico--camisas {
  grid-row: 2/3;
  background-image: url(../img/grafico1.jpg);
}

.grafico--node {
  grid-row: 8/9;
  background-image: url(../img/grafico2.jpg);
}

@media (min-width: 768px) {
  .grafico--node {
    grid-row: 5/6;
    grid-column: 2/4;
  }
}

@media (max-width: 350px) {
  .grafico {
    grid-column: 1/2;
  }
}

/* nosotros */

.nosotros {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.nosotros__contenido {
  margin: 3rem 0;
  text-align: justify;
  padding: 2rem;
}

.nosotros__contenido p:nth-child(2) {
  margin-top: 2rem;
}

.nosotros__imagen {
  grid-row: 1/2;
  width: 100%;
}

@media (min-width: 786px) {
  .nosotros__imagen {
    grid-column: 2/3;
    margin: auto 0;
  }
}

/* por que comprar */

.bloques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin: 3rem 0;
}

@media (min-width: 768px) {
  .bloques {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin: 3rem 0;
  }
}

.bloque {
  text-align: center;
}

.bloque__contenido {
  margin: 1rem;
}

/* Producto */
@media (min-width: 768px) {
  .camisa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.camisa__contenido {
  padding: 1rem;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  .formulario__submit {
    grid-column: 1/3;
  }
}

.formulario__submit {
  background-color: var(--secundario);
  border: none;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  padding: 2rem;
  transition: background-color 0.3s ease;
  margin: 1rem 0;
  border-radius: 1rem;
}

.formulario__submit:hover {
  cursor: pointer;
  background-color: var(--secundarioOscuro);
}

.formulario__campo {
  border: 1rem solid var(--primarioOscuro);
  background-color: transparent;
  color: var(--blanco);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  appearance: none;
  text-align: center;
  outline: none;
  margin: 2rem 0;
}

.formulario__campo::placeholder {
  color: var(--blanco);
}

/* footer */

.footer {
  background-color: var(--primarioOscuro);
  margin-top: 1rem;
  padding: 2rem 0;
}

.footer__text {
  text-align: center;
  font-family: var(--fuentePrincipal);
  font-size: 1.5rem;
}
